.cap {
	color: black;
}

.timeline {
  max-width: 500px;
  height: 100%;
  margin-left: auto;
  padding: 50px;
  position: relative;
  border-left: 4px solid #1f1815;
  // background-color: rgba(255, 255, 255, 0.05);
  text-align: left;
}

.timeline li {
  position: relative;
  width: 400px;
  margin-bottom: 20px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.timeline li:first-child {
  margin-top: 0;
}

.timeline li:after {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #111;
  box-shadow: 0 0 0 4px #1f1815;
  position: absolute;
  top: 5px;
  left: -58px;
  border-radius: 50%;
}

.timeline li .timeline-description h3 {
  padding: 0px 0 0 20px;
  font-size: 20px;
  font-weight: bold;
	margin-bottom: 0;
}

.timeline li .timeline-description p {
  margin-top: 15px;
  width: 100%;
  padding: 20px 20px;
  line-height: 1.6;
}

.timeline li .timeline-description p:first-child {
  margin-top: 0;
}

.timeline li .timeline-com {
  display: block;
  font-size: 13px;
  padding: 2px 0 0 20px;
}

.timeline li .timeline-date {
  position: absolute;
  left: -155px;
  top: 3px;
  font-size: 13px;
}